{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quản lý giảng viên</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}" />
  <script src="{% static 'assets/js/chart.js' %}"></script>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="{% url 'trangchu' %}" class="text-nowrap logo-img">
            <img src="{% static 'assets/images/favicon.png' %}" alt="" />
            <span class="fs-6 ms-1 fw-bolder text-dark">
              Quản lý giảng viên
            </span>
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'trangchu' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu fs-5 fw-bolder">Trang chủ</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'khoa' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu fs-5 fw-bolder">Quản lý khoa</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'lophoc' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-home"></i>
                </span>
                <span class="hide-menu fs-5 fw-bolder">Quản lý lớp học</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'monhoc' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu fs-5 fw-bolder">Quản lý môn học</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'giangvien' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-user"></i>
                </span>
                <span class="hide-menu fs-5 fw-bolder">Quản lý giảng viên</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'taikhoangv' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-users"></i>
                </span>
                <span class="hide-menu fs-5 fw-bolder">Quản lý tài khoản <br /> giảng viên</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'phanconggv' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-typography"></i>
                </span>
                <span class="hide-menu fs-5 fw-bolder">Phân công dạy học</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'thongkebaocao' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-chart-bar"></i>
                </span>
                <span class="hide-menu fs-5 fw-bolder">Thống kê và báo cáo</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'thongtintk' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-user-minus"></i>
                </span>
                <span class="hide-menu fs-5 fw-bolder">Thông tin tài khoản</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="{% static 'assets/images/' %}{{ request.session.anh }}" alt="" width="35" height="35"
                    class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="{% url 'thongtintk' %}" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user"></i>
                      <p class="mb-0 fs-5 fw-bolder">Thông tin tài khoản</p>
                    </a>
                    <a href="{% url 'logout' %}" class="btn btn-outline-primary mx-3 mt-2 d-block fs-5 fw-bolder">Đăng
                      xuất</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="navbar-collapse justify-content px-0 row" id="navbarNav">
            <h2 class="col-6">Tổng quan</h2>
          </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light mt-2">
          <div class="navbar-collapse justify-content px-0 row" id="navbarNav">
            <div class="col-6">
              <div class="row align-items-center">
                <div class="col-5">
                  <h1 class="mb-9 fw-semibold">Khoa</h1>
                  <h4 class="fw-semibold mb-3">Số lượng: {{ khoa_count }}/50</h4>
                </div>
                <div class="col-7">
                  <canvas id="myPieChart" width="150" height="150"></canvas>
                  <script>
                    var ctx = document.getElementById('myPieChart').getContext('2d');
                    var data = {
                      labels: ['Khoa', 'Trống'],
                      datasets: [{
                        label: 'Số lượng:',
                        data: [{{ khoa_count }}, 50 - {{ khoa_count }}],
                      backgroundColor: [
                        'rgb(255, 138, 74)',
                        'rgb(217, 217, 217)',
                      ],
                      }]
                    };

                    var options = {
                      responsive: false,
                      maintainAspectRatio: false,
                      plugins: {
                        legend: {
                          display: false,
                        },
                      },
                    };

                    var myPieChart = new Chart(ctx, {
                      type: 'pie',
                      data: data,
                      options: options
                    });
                  </script>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row align-items-center">
                <div class="col-5">
                  <h1 class="mb-9 fw-semibold">Lớp</h1>
                  <h4 class="fw-semibold mb-3">Số lượng: {{ lophoc_count }}/50</h4>
                </div>
                <div class="col-7">
                  <canvas id="myPieChart1" width="150" height="150"></canvas>
                  <script>
                    var ctx = document.getElementById('myPieChart1').getContext('2d');
                    var data = {
                      labels: ['Lớp học', 'Trống'],
                      datasets: [{
                        label: 'Số lượng:',
                        data: [{{ lophoc_count }}, 50 - {{ lophoc_count }}],
                      backgroundColor: [
                        'rgb(255, 0, 0)',
                        'rgb(217, 217, 217)',
                      ],
                      }]
                    };

                    var options = {
                      responsive: false,
                      maintainAspectRatio: false,
                      plugins: {
                        legend: {
                          display: false,
                        },
                      },
                    };

                    var myPieChart = new Chart(ctx, {
                      type: 'pie',
                      data: data,
                      options: options
                    });
                  </script>
                </div>
              </div>
            </div>
          </div>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-light mt-4">
          <div class="navbar-collapse justify-content px-0 row" id="navbarNav">
            <div class="col-6">
              <div class="row align-items-center">
                <div class="col-5">
                  <h1 class="mb-9 fw-semibold">Giảng viên</h1>
                  <h4 class="fw-semibold mb-3">Số lượng: {{ giangvien_count }}/50</h4>
                </div>
                <div class="col-7">
                  <canvas id="myPieChart2" width="150" height="150"></canvas>
                  <script>
                    var ctx = document.getElementById('myPieChart2').getContext('2d');
                    var data = {
                      labels: ['Giảng viên', 'Trống'],
                      datasets: [{
                        label: 'Số lượng:',
                        data: [{{ giangvien_count }}, 50 - {{ giangvien_count }}],
                      backgroundColor: [
                        'rgb(0, 215, 170)',
                        'rgb(217, 217, 217)',
                      ],
                      }]
                    };

                    var options = {
                      responsive: false,
                      maintainAspectRatio: false,
                      plugins: {
                        legend: {
                          display: false,
                        },
                      },
                    };

                    var myPieChart = new Chart(ctx, {
                      type: 'pie',
                      data: data,
                      options: options
                    });
                  </script>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row align-items-center">
                <div class="col-5">
                  <h1 class="mb-9 fw-semibold">Môn học</h1>
                  <h4 class="fw-semibold mb-3">Số lượng: {{ monhoc_count }}/50</h4>
                </div>
                <div class="col-7">
                  <canvas id="myPieChart3" width="150" height="150"></canvas>
                  <script>
                    var ctx = document.getElementById('myPieChart3').getContext('2d');
                    var data = {
                      labels: ['Môn học', 'Trống'],
                      datasets: [{
                        label: 'Số lượng:',
                        data: [{{ monhoc_count }}, 50 - {{ monhoc_count }}],
                      backgroundColor: [
                        'rgb(238, 218, 12)',
                        'rgb(217, 217, 217)',
                      ],
                      }]
                    };

                    var options = {
                      responsive: false,
                      maintainAspectRatio: false,
                      plugins: {
                        legend: {
                          display: false,
                        },
                      },
                    };

                    var myPieChart = new Chart(ctx, {
                      type: 'pie',
                      data: data,
                      options: options
                    });
                  </script>
                </div>
              </div>
            </div>
          </div>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-light mt-4">
          <canvas id="studentBarChart"></canvas>
          <script>
            var ctx = document.getElementById('studentBarChart').getContext('2d');
            var labels = [];
            {% for lh in all_lophoc %}
            labels.push('{{ lh.ma_lop }}');
            {% endfor %}
            var data = [];
            {% for lh in all_lophoc %}
            data.push('{{ lh.si_so }}');
            {% endfor %}

            var studentBarChart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: labels,
                datasets: [{
                  label: 'Số lượng sinh viên',
                  data: data,
                  backgroundColor: 'rgba(54, 127, 235, 0.8)',
                  borderColor: 'rgba(0, 0, 0, 1)',
                  borderWidth: 2
                }]
              },
              options: {
                plugins: {
                  title: {
                    display: true,
                    text: 'Biểu đồ sĩ số lớp học',
                    font: {
                      size: 40,
                      weight: 'bold'
                    }
                  },
                  legend: {
                    display: true,
                    position: 'top',
                    labels: {
                      font: {
                        weight: 'bold'
                      }
                    }
                  }
                },
                scales: {
                  x: {
                    ticks: {
                      font: {
                        weight: 'bold',
                        size: 12
                      }
                    }
                  },
                  y: {
                    beginAtZero: true,
                    ticks: {
                      font: {
                        weight: 'bold',
                        size: 20
                      }
                    }
                  }
                }
              }
            });
          </script>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-light mt-4">
          <canvas id="monhocBarChart"></canvas>
          <script>
            var ctx1 = document.getElementById('monhocBarChart').getContext('2d');
            var labels = [];
            {% for mh in all_monhoc %}
            labels.push('{{ mh.ma_mh }}');
            {% endfor %}
            var data = [];
            {% for mh in all_monhoc %}
            data.push('{{ mh.so_tc }}');
            {% endfor %}

            var monhocBarChart = new Chart(ctx1, {
              type: 'bar',
              data: {
                labels: labels,
                datasets: [{
                  label: 'Số tín chỉ môn học',
                  data: data,
                  backgroundColor: 'rgba(12, 187, 24, 0.8)',
                  borderColor: 'rgba(0, 0, 0, 1)',
                  borderWidth: 2
                }]
              },
              options: {
                plugins: {
                  title: {
                    display: true,
                    text: 'Biểu đồ số tín chỉ môn học',
                    font: {
                      size: 40,
                      weight: 'bold'
                    }
                  },
                  legend: {
                    display: true,
                    position: 'top',
                    labels: {
                      font: {
                        weight: 'bold'
                      }
                    }
                  }
                },
                scales: {
                  x: {
                    ticks: {
                      font: {
                        weight: 'bold',
                        size: 12
                      }
                    }
                  },
                  y: {
                    beginAtZero: true,
                    ticks: {
                      font: {
                        weight: 'bold',
                        size: 20
                      }
                    }
                  }
                }
              }
            });
          </script>
        </nav>
      </header>

    </div>
  </div>
  <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/sidebarmenu.js' %}"></script>
  <script src="{% static 'assets/js/app.min.js' %}"></script>
  <script src="{% static 'assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'assets/js/dashboard.js' %}"></script>
</body>

</html>