{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quản lý giảng viên</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}" />
  <style>
    #toggle-password {
        position: absolute;
        top: 370px;
        right: 20px;
        transform: translateY(-50%);
    }
  </style>
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="{% url 'trangchu' %}" class="text-nowrap logo-img">
                      <img src="{% static 'assets/images/favicon.png' %}" alt="" />
                      <span class="fs-6 ms-1 fw-bolder text-dark">
                        Quản lý giảng viên
                      </span>
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                      <i class="ti ti-x fs-8"></i>
                    </div>
                  </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'trangchu' %}" aria-expanded="false">
                              <span>
                                <i class="ti ti-layout-dashboard"></i>
                              </span>
                              <span class="hide-menu fs-5 fw-bolder">Trang chủ</span>
                            </a>
                          </li>
                          <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'khoa' %}" aria-expanded="false">
                              <span>
                                <i class="ti ti-article"></i>
                              </span>
                              <span class="hide-menu fs-5 fw-bolder">Quản lý khoa</span>
                            </a>
                          </li>
                          <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'lophoc' %}" aria-expanded="false">
                              <span>
                                <i class="ti ti-home"></i>
                              </span>
                              <span class="hide-menu fs-5 fw-bolder">Quản lý lớp học</span>
                            </a>
                          </li>
                          <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'monhoc' %}" aria-expanded="false">
                              <span>
                                <i class="ti ti-cards"></i>
                              </span>
                              <span class="hide-menu fs-5 fw-bolder">Quản lý môn học</span>
                            </a>
                          </li>
                          <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'giangvien' %}" aria-expanded="false">
                              <span>
                                <i class="ti ti-user"></i>
                              </span>
                              <span class="hide-menu fs-5 fw-bolder">Quản lý giảng viên</span>
                            </a>
                          </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'taikhoangv' %}" aria-expanded="false">
                                <span>
                                    <i class="ti ti-users"></i>
                                </span>
                                <span class="hide-menu fs-5 fw-bolder">Quản lý tài khoản <br /> giảng viên</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'phanconggv' %}" aria-expanded="false">
                                <span>
                                    <i class="ti ti-typography"></i>
                                </span>
                                <span class="hide-menu fs-5 fw-bolder">Phân công dạy học</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'thongkebaocao' %}" aria-expanded="false">
                                <span>
                                    <i class="ti ti-chart-bar"></i>
                                </span>
                                <span class="hide-menu fs-5 fw-bolder">Thống kê và báo cáo</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'thongtintk' %}" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-minus"></i>
                                </span>
                                <span class="hide-menu fs-5 fw-bolder">Thông tin tài khoản</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                      <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                        <li class="nav-item dropdown">
                          <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="{% static 'assets/images/' %}{{ request.session.anh }}" alt="" width="35" height="35" class="rounded-circle">
                          </a>
                          <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                            <div class="message-body">
                              <a href="{% url 'thongtintk' %}" class="d-flex align-items-center gap-2 dropdown-item">
                                <i class="ti ti-user"></i>
                                <p class="mb-0 fs-5 fw-bolder">Thông tin tài khoản</p>
                              </a>
                              <a href="{% url 'logout' %}"
                                class="btn btn-outline-primary mx-3 mt-2 d-block fs-5 fw-bolder">Đăng xuất</a>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="navbar-collapse justify-content px-0 row" id="navbarNav">
                        <h2 class="col-6">Thông tin tài khoản</h2>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="navbar-collapse justify-content px-0 row" id="navbarNav">
                      <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="mb-3 row">
                        <div class="col-1">
                            <img id="profileImage" src="{% static 'assets/images/' %}{{ request.session.anh }}" class="rounded-circle"
                                width="80" height="80" />
                        </div>
                        <div class="col-3">
                            <input type="file" id="fileInput" style="display: none;" name="image">
                            <input type="text" id="fileNameDisplay" readonly name="anh" value="{{ request.session.anh }}"
                                style="width: 340px; margin: 15px 0 0 -20px;"
                                class="form-control fw-bolder fs-6 border border-3 border-dark text-dark">
                        </div>
                        <div class="col-2">
                            <a onclick="selectFile()" class="btn btn-primary text-dark fw-bolder fs-6"
                                style="margin: 17px 0 0 -20px;">Chọn
                                File</a>
                        </div>
                        <div class="col-6">
                        </div>
                        <script>
                            function selectFile() {
                                const fileInput = document.getElementById('fileInput');
                                fileInput.click();

                                fileInput.addEventListener('change', function () {
                                    const fileNameDisplay = document.getElementById('fileNameDisplay');
                                    const profileImage = document.getElementById('profileImage');
                                    if (fileInput.files.length > 0) {
                                        const file = fileInput.files[0];
                                        fileNameDisplay.value = file.name;

                                        const reader = new FileReader();
                                        reader.onload = function (e) {
                                            profileImage.src = e.target.result;
                                        };
                                        reader.readAsDataURL(file);
                                    } else {
                                        fileNameDisplay.value = '';
                                    }
                                });
                            }
                        </script>
                    </div>

                            <div class="mb-3 row">
                                <div class="col-6">
                                    <label for="gt" class="form-label fw-bolder fs-6">Mã người dùng:</label>
                                    <input type="text" class="form-control fw-bolder fs-6 border border-3 border-dark"
                                        id="tgv" required name="admin_id"  tai_khoan value="{{ request.session.admin_id }}">
                                </div>
                                <div class="col-6">
                                    <label for="tgv" class="form-label fw-bolder fs-6">Họ và tên:</label>
                                    <input type="text" class="form-control fw-bolder fs-6 border border-3 border-dark"
                                        id="tgv" required name="ho_va_ten" value="{{ request.session.ho_va_ten }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-6">
                                    <label for="gt" class="form-label fw-bolder fs-6">Số điện thoại:</label>
                                    <input type="text" class="form-control fw-bolder fs-6 border border-3 border-dark"
                                        id="tgv" required name="sdt" value="{{ request.session.sdt }}">
                                </div>
                                <div class="col-6">
                                    <label for="ns" class="form-label fw-bolder fs-6">Địa chỉ:</label>
                                    <input type="text" class="form-control fw-bolder fs-6 border border-3 border-dark"
                                        id="sdt" required name="dia_chi" value="{{ request.session.dia_chi }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-6">
                                    <label for="hv" class="form-label fw-bolder fs-6">Tài khoản:</label>
                                    <input type="text" class="form-control fw-bolder fs-6 border border-3 border-dark"
                                        id="hv" required name="tai_khoan" value="{{ request.session.tai_khoan }}">
                                </div>
                                <div class="col-6">
                                    <label for="cn" class="form-label fw-bolder fs-6">Mật khẩu:</label>
                                    <input type="password" class="form-control fw-bolder fs-6 border border-3 border-dark"
                                        required name="mat_khau" value="{{ request.session.mat_khau }}" id="password_show">
                                        <i class="ti ti-eye h2 fw-bolder" id="toggle-password"></i>
                                    <script>
                                        document.getElementById('toggle-password').addEventListener('click', function () {
                                            const passwordField = document.getElementById('password_show');
                                            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
                                            passwordField.setAttribute('type', type);
                                            this.classList.toggle('ti-eye-off');
                                        });
                                    </script>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success text-dark fw-bolder fs-6"><i
                                    class="ti ti-pencil me-1 fs-6 fw-bolder"></i>Cập
                                nhật thông tin tài khoản</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </form>
                    </div>
                </nav>
            </header>

        </div>
    </div>
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'assets/js/app.min.js' %}"></script>
    <script src="{% static 'assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/dist/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
</body>

</html>